In [1]:
import os
import pandas as pd
import time
import requests

In [3]:
os.getcwd()

'c:\\Users\\silvare\\OneDrive - TomTom\\01_06_2019\\01_Learn\\10_Code\\01_GitHub\\deputy-monitoring'

### Getting deputy id

In [2]:
deputies_call = 'https://dadosabertos.camara.leg.br/api/v2/deputados?ordem=ASC&ordenarPor=nome'

In [3]:
response = requests.get(deputies_call)
data = response.json()

In [4]:
deputy_ids = [_id['id'] for _id in data['dados']]

In [5]:
len(deputy_ids)

513

In [6]:
deputy_ids[1]

204521

In [21]:
years = [2019, 2020, 2021]

dfs_deputy_to_contact = []

count = 0

for deputy_id in deputy_ids:
    
    count += 1

    print(count, ' - ', deputy_id)

    api = 'https://dadosabertos.camara.leg.br/api/v2/deputados/{}/'.format(deputy_id)

    cost_year, cost_month, cost_type, cost_value, cost_code, deputy_unique = [], [], [], [], [], []

    for year in years:

        method = f'despesas?ano={year}&ordem=ASC&ordenarPor=ano'
        url_call = api + method
        time.sleep(2.5)
        response = requests.get(url_call)

        data = response.json()

        # print(count, ' - ', deputy_id, f'- response:{response.status_code}')
        # print(url_call)

        for costs in data['dados']:
            cost_year.append(costs['ano'])
            cost_month.append(costs['mes'])
            cost_type.append(costs['tipoDespesa'])
            cost_value.append(costs['valorDocumento'])
            cost_code.append(costs['codDocumento'])
            deputy_unique.append(deputy_id)

            df = pd.DataFrame({'year': cost_year, 'month': cost_month, 'cost_type': cost_type, 
                                'value': cost_value, 'cost_code': cost_code, 'deputy_id':deputy_unique})
            # print(df)
    df.to_csv('data/csv/{}.csv'.format(deputy_id), sep='|', encoding='utf-8', index=False)
    dfs_deputy_to_contact.append(df)

costs_df = pd.concat(dfs_deputy_to_contact).drop_duplicates()
costs_df.to_csv('data/csv/costs_full.csv', sep='|', encoding='utf-8', index=False)

1  -  204554
2  -  204521
3  -  204379
4  -  204560
5  -  204528
6  -  121948
7  -  74646
8  -  141372
9  -  160508
10  -  136811
11  -  178835
12  -  160527
13  -  204495
14  -  204549
15  -  178836
16  -  160559
17  -  204413
18  -  204545
19  -  204501
20  -  160511
21  -  178972
22  -  204571
23  -  204544
24  -  160545
25  -  204503
26  -  204516
27  -  74057
28  -  178927
29  -  204353
30  -  204400
31  -  178937
32  -  178881
33  -  204356
34  -  178831
35  -  74471
36  -  204423
37  -  133439
38  -  178882
39  -  204515
40  -  73696
41  -  74212
42  -  160553
43  -  73433
44  -  141391
45  -  204414
46  -  160541
47  -  160600
48  -  74090
49  -  74459
50  -  160665
51  -  204509
52  -  160512
53  -  69871
54  -  178975
55  -  73701
56  -  109429
57  -  141335
58  -  204358
59  -  178948
60  -  207176
61  -  204374
62  -  204388
63  -  141513
64  -  204561
65  -  204397
66  -  160538
67  -  74052
68  -  204551
69  -  204502
70  -  160589
71  -  93083
72  -  204352
73  -  204572
74  -  178829
75  -  178924
76  -  204487
77  -  213762
78  -  204507
79  -  204361
80  -  178962
81  -  178993
82  -  204460
83  -  74262
84  -  204426
85  -  141398
86  -  164360
87  -  204369
88  -  204499
89  -  204380
90  -  204370
91  -  178876
92  -  204488
93  -  141405
94  -  73441
95  -  204496
96  -  204504
97  -  205476
98  -  204490
99  -  141439
100  -  204476
101  -  204462
102  -  178928
103  -  204440
104  -  178939
105  -  74537
106  -  141408
107  -  204376
108  -  204378
109  -  204514
110  -  178963
111  -  135054
112  -  204355
113  -  141411
114  -  74467
115  -  74060
116  -  178916
117  -  204367
118  -  204454
119  -  204409
120  -  204459
121  -  160528
122  -  62881
123  -  116379
124  -  205548
125  -  204511
126  -  204451
127  -  178908
128  -  204512
129  -  204569
130  -  164359
131  -  160588
132  -  178929
133  -  160599
134  -  143632
135  -  160758
136  -  204518
137  -  212625
138  -  204481
139  -  204439
140  -  204450
141  -  204351
142  -  204412
143  -  81297
144  -  204434
145  -  178994
146  -  204562
147  -  141417
148  -  204421
149  -  74655
150  -  204541
151  -  92346
152  -  204500
153  -  178977
154  -  141421
155  -  141422
156  -  74075
157  -  204364
158  -  160532
159  -  204389
160  -  178854
161  -  198783
162  -  161550
163  -  132504
164  -  204537
165  -  160575
166  -  160640
167  -  204482
168  -  178871
169  -  178953
170  -  68720
171  -  178969
172  -  141427
173  -  171623
174  -  204368
175  -  160587
176  -  66828
177  -  204477
178  -  72442
179  -  204398
180  -  204371
181  -  160666
182  -  204407
183  -  141431
184  -  92699
185  -  204427
186  -  204411
187  -  160598
188  -  141434
189  -  191923
190  -  204447
191  -  204392
192  -  204510
193  -  204494
194  -  204393
195  -  74200
196  -  115746
197  -  160669
198  -  204473
199  -  204484
200  -  204527
201  -  178966
202  -  204394
203  -  74383
204  -  204575
205  -  204491
206  -  74270
207  -  204365
208  -  160673
209  -  178996
210  -  152605
211  -  204419
212  -  107283
213  -  74419
214  -  198197
215  -  204513
216  -  204531
217  -  160667
218  -  204442
219  -  73460
220  -  204408
221  -  204456
222  -  204465
223  -  204548
224  -  178964
225  -  178873
226  -  204373
227  -  178909
228  -  204444
229  -  217036
230  -  73482
231  -  204539
232  -  178981
233  -  73772
234  -  178884
235  -  178959
236  -  141450
237  -  160674
238  -  204533
239  -  204564
240  -  204508
241  -  67138
242  -  204436
243  -  73531
244  -  74848
245  -  108338
246  -  74273
247  -  160570
248  -  178839
249  -  204435
250  -  160531
251  -  74366
252  -  141458
253  -  178970
254  -  141459
255  -  112437
256  -  178910
257  -  204468
258  -  204546
259  -  205550
260  -  178857
261  -  141464
262  -  141470
263  -  204386
264  -  204472
265  -  204391
266  -  160619
267  -  74079
268  -  204555
269  -  74554
270  -  209189
271  -  204563
272  -  215043
273  -  204474
274  -  204420
275  -  74317
276  -  204372
277  -  73586
278  -  74253
279  -  204520
280  -  204497
281  -  204574
282  -  204550
283  -  178886
284  -  204536
285  -  151208
286  -  141478
287  -  98057
288  -  160534
289  -  178832
290  -  204375
291  -  178825
292  -  204359
293  -  204547
294  -  122195
295  -  74156
296  -  74254
297  -  74299
298  -  92102
299  -  139285
300  -  74585
301  -  204405
302  -  204382
303  -  196358
304  -  204523
305  -  204404
306  -  178879
307  -  74478
308  -  178931
309  -  178954
310  -  204381
311  -  160510
312  -  204410
313  -  204448
314  -  160645
315  -  204485
316  -  204455
317  -  162332
318  -  204526
319  -  74784
320  -  204418
321  -  178866
322  -  166402
323  -  204458
324  -  204471
325  -  156190
326  -  179000
327  -  146788
328  -  205863
329  -  204433
330  -  76874
331  -  133810
332  -  204558
333  -  204556
334  -  178983
335  -  179001
336  -  204452
337  -  150418
338  -  204522
339  -  160535
340  -  204431
341  -  204506
342  -  178943
343  -  204430
344  -  74398
345  -  204540
346  -  178956
347  -  204428
348  -  204432
349  -  74158
350  -  178858
351  -  204403
352  -  204566
353  -  178843
354  -  75431
355  -  74749
356  -  141508
357  -  188097
358  -  178985
359  -  92172
360  -  178895
361  -  178997
362  -  204453
363  -  204449
364  -  204415
365  -  146307
366  -  74165
367  -  178896
368  -  204479
369  -  74352
370  -  178986
371  -  194260
372  -  66179
373  -  74159
374  -  178868
375  -  204498
376  -  178987
377  -  204363
378  -  73692
379  -  204422
380  -  204441
381  -  204475
382  -  204573
383  -  160556
384  -  160642
385  -  204570
386  -  204553
387  -  74160
388  -  204377
389  -  171617
390  -  141516
391  -  178860
392  -  204538
393  -  193726
394  -  160558
395  -  204461
396  -  204492
397  -  74574
398  -  141518
399  -  74400
400  -  133968
401  -  141488
402  -  216544
403  -  90201
404  -  215045
405  -  122974
406  -  204395
407  -  160604
408  -  178844
409  -  204406
410  -  73943
411  -  204524
412  -  204529
413  -  73486
414  -  160601
415  -  204390
416  -  204383
417  -  204446
418  -  204565
419  -  160639
420  -  160641
421  -  204467
422  -  178951
423  -  216313
424  -  204567
425  -  141523
426  -  74161
427  -  205865
428  -  178925
429  -  178989
430  -  73801
431  -  73788
432  -  215042
433  -  204362
434  -  160655
435  -  213274
436  -  178920
437  -  152610
438  -  160653
439  -  204530
440  -  204366
441  -  141531
442  -  74693
443  -  204480
444  -  160651
445  -  178930
446  -  178861
447  -  204525
448  -  178945
449  -  204357
450  -  178935
451  -  73466
452  -  74371
453  -  73604
454  -  204535
455  -  178990
456  -  204416
457  -  204387
458  -  178921
459  -  73808
460  -  178933
461  -  204438
462  -  204437
463  -  178961
464  -  204557
465  -  74356
466  -  204360
467  -  204425
468  -  178946
469  -  178947
470  -  92776
471  -  177282
472  -  204534
473  -  178922
474  -  204464
475  -  206231
476  -  204466
477  -  178862
478  -  143084
479  -  204519
480  -  160976
481  -  197438
482  -  178934
483  -  216545
484  -  157130
485  -  178863
486  -  195866
487  -  204385
488  -  160610
489  -  141552
490  -  74376
491  -  141553
492  -  204505
493  -  204396
494  -  74283
495  -  137070
496  -  204483
497  -  141555
498  -  160591
499  -  204532
500  -  179587
501  -  178992
502  -  215044
503  -  160569
504  -  178952
505  -  160518
506  -  74043
507  -  74044
508  -  74439
509  -  178889
510  -  204559
511  -  160632
512  -  204517
513  -  160592

In [22]:
costs_df.head()

,year,month,cost_type,value,cost_code,deputy_id
0,2019,3,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,154.95,6801547,204554
1,2019,5,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,343.48,6839323,204554
2,2019,6,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,312.27,6864448,204554
3,2019,7,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,191.56,6892233,204554
4,2019,8,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,138.61,6915356,204554

In [23]:
costs_df.groupby(['year','month','cost_type'])['value'].agg('mean').reset_index()

,year,month,cost_type,value
0,2019,1,ASSINATURA DE PUBLICAÇÕES,2430.000000
1,2019,1,COMBUSTÍVEIS E LUBRIFICANTES.,408.574245
2,2019,1,"CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.",8995.976949
3,2019,1,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.,8903.132216
4,2019,1,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,68.255517
...,...,...,...,...
209,2021,6,TELEFONIA,1001.690000
210,2021,7,COMBUSTÍVEIS E LUBRIFICANTES.,167.500000
211,2021,7,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.,22000.000000
212,2021,7,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,376.900000
213,2021,7,SERVIÇOS POSTAIS,52.473333

In [18]:
#data.to_csv('data/csv/0_costs_by_month.csv', sep='|', encoding='utf-8', index=False)

In [8]:
#data = pd.read_csv('data/csv/0_costs_by_month.csv', encoding='utf-8', delimiter='|')
#data.rename({'value':'mean'}, inplace=True)

In [14]:
data.groupby(['year', 'month', 'cost_type']).mean()

                                                                    value
year month cost_type
2019 1     ASSINATURA DE PUBLICAÇÕES                              2430.00
           COMBUSTÍVEIS E LUBRIFICANTES.                        513986.40
           CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.        530762.64
           DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.                1486823.08
           FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR             1979.41
...                                                                   ...
2021 6     PASSAGEM AÉREA - REEMBOLSO                             1121.45
           SERVIÇOS POSTAIS                                        513.17
           TELEFONIA                                              2003.38
     7     MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE P...      376.90
           SERVIÇOS POSTAIS                                        118.25

[213 rows x 1 columns]